* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", sans-serif;
}
div {
    text-align: center;
}
table {
    border-collapse: collapse;
}
#tab td {
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
}
#tab tr:nth-of-type(n+2) td:nth-of-type(n+2) {
    border: 1px solid #aaa;
}
#tab tr:first-of-type td:nth-of-type(n+2),#tab tr:last-of-type td:nth-of-type(n+2) {
    border-bottom: 2px solid #000;
}
#tab tr:nth-of-type(n+2) td:first-of-type,#tab tr:nth-of-type(n+2) td:last-of-type {
    border-right: 2px solid #000;
}
.Left,.Top,.Bottom,.Right {
    position: relative;
    background-color: red;
}
.Left>div,.Top>div,.Bottom>div,.Right>div {
    position: absolute;
    background-color: blue;
}
.Left>div,.Right>div {
    width: 10px;
    height: 100%;
    top: 0;
}
.Top>div,.Bottom>div {
    height: 10px;
    width: 100%;
}
.Left>div {
    left: 0;
}
.Right>div {
    right: 0;
}
.Top>div {
    top: 0;
}
.Bottom>div {
    bottom: 0;
}
.container {
    float: left;
    position: relative;
    margin-top: 50px;
}
#inputArea {
    float: right;
    overflow-y: auto;
    width: 700px;
    margin-top: 100px;
    margin-right: 30px;
}
#inputArea textarea {
    width: 665px;
    height: 500px;
    background-color: #000;
    resize: none;
    border: none;
    color: green;
    font-size: 20px;
    line-height: 30px;
    overflow-y: auto;
    padding-left: 5px;
    outline: none;
}
#inputArea button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
}
#index {
    float: left;
    background-color: #cccccc;
    height: 500px;
    min-width: 30px;
}
#index li {
    line-height: 30px;
    width: 100%;
    height: 30px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.error {
    background-color: red;
}
#message {
    text-align: left;
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
#boxbot {
    position: absolute;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background: url("../image/task34-bot.png") no-repeat;
    background-size: cover;
    transition: all 1s ease;
}